
<mat-toolbar color="primary"> 
    <div  class="row between-xs header-container" >
    <mat-toolbar-row class="row between-xs header-container"> 
    <div>
    <a mat-button routerLink="/home">HOME</a>
    <a mat-button routerLink="/products">PRODUCTOS</a>
    <a mat-button routerLink="/contact">CONTACTO</a> 
    </div>   
    <a  mat-raised-button color="accent" matBadge="5" matBadgeColor="warn" >
   <mat-icon>add_shopping_cart</mat-icon>Carrito
    </a> 
   </mat-toolbar-row> 
   </div> 
</mat-toolbar> 

    
    
    
  